html
{
  margin: 0;
  padding: 0;
}

body
{
  background: url(teahub.io-light-wallpaper-hd-360584.jpg);
  background-position: 0%;
  background-size: 110%;
}

main
{
  width:100%;
  height: 100%;
  margin: 100px auto 100px auto;
}

form#register
{
  margin:40px;
}

div.register
{
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
  border-radius:10px;
  
  border:1px solid white;
  box-shadow:2px 2px 15px white;
  color:white;
  
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;  
}

h2
{
  text-align: center;
  padding-top: auto;
  padding-bottom:auto;
}

input#submit
{
  color: white;
  background-color: #3838ff;

  border:#3838ff;
  border-radius: 10px;
  
  padding-left:8%;
  padding-right:8%;
  padding-top:8px;
  padding-bottom:8px;

  margin: 0 auto;
  display:block;
}
